<div
  class="flex-1 p-2 rounded-lg mb-2 relative"
  [ngClass]="
    direction === 'reverse'
      ? 'bg-indigo-100 text-gray-800'
      : 'bg-indigo-400 text-white'
  "
>
  <div>{{ text }}</div>

  <app-arrow [direction]="direction" />
</div>
