<div
  *ngIf="direction === 'reverse'; else arrow"
  class="absolute right-0 top-1/2 transform translate-x-1/2 rotate-45 w-2 h-2 bg-indigo-100"
></div>

<ng-template #arrow>
  <div
    class="absolute left-0 top-1/2 transform -translate-x-1/2 rotate-45 w-2 h-2 bg-indigo-400"
  ></div>
</ng-template>
