<div class="card card-bordered w-96 h-96 bg-base-100 shadow-xl m-2">
  <div class="card-title px-3 py-2 flex flex-row">Chat</div>
  <div class="card-body">
    <ng-content></ng-content>
  </div>

  <div class="card-actions flex flex-row justify-between mx-2 mb-2">
    <input
      type="text"
      placeholder="Digite Aqui..."
      class="input input-bordered flex-1 input-md"
    />
    <button class="btn btn-primary">
      <ng-icon name="bootstrapSendFill"></ng-icon>
    </button>
  </div>
</div>
