<div
  class="flex-none flex flex-col items-center space-y-1"
  [ngClass]="direction === 'reverse' ? 'ml-4' : 'mr-4'"
>
  <img class="rounded-full w-10 h-10" [src]="imageSrc" alt="avatar" />
  <a href="#" class="block text-xs hover:underline">
    {{ name }}
  </a>
</div>
